{% load static %}

<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img class="logo" src="{% static 'web/img/logo-scheyna.jpeg' %}">
            <!--Logo Brand<span></span> -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active" href="#">Tentang Kami</a>
                <a class="nav-item nav-link" href="#about">Interior</a>
                <a class="nav-item nav-link" href="#pricing">Custom</a>
                <a class="nav-item nav-link" href="#content">Inspirasi</a> 
                <a class="nav-item nav-link" href="#content">Material</a> 

                <button class="btn btn-outline-primary btn-sm ml-5">Hubungi Kami</button>
                <button class="btn btn-outline-primary btn-sm ml-3">Referral</button>

                <a class="nav-item nav-link ml-4" href="#content">Masuk</a>
                <a class="nav-item nav-link ml-2" href="#content">Daftar</a>

            </div>
        </div>
    </div>
</nav>